main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 100px;
}

.Quadrado {
  background-color: aqua;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.itemlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  font-size: 15px;
  height: 60px;
  width: 90px;
  color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
}

.divlikesprop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.likesprop {
  display: flex;
  gap: 30px;
  font-size: 4rem;
}

.likesprop p {
  font-size: 1rem;
}

.spanclick:hover {
  cursor: pointer;
  color: blue;
}